.friends{
  flex-shrink: 0;
  width: 100%;
  height: auto;
  max-width: 65%; 
  border-radius: 8px;
  margin: 2rem auto;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  object-fit: cover;
}

.feature-box3{
  max-width: 30%;
  background-color: white;
  padding: 2rem 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.feature-box3 ul {
  list-style-type: disc;
  list-style-position: outside;
  margin: 0;
  padding-left: 1.4em;
}

.feature-box3 li {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  line-height: 1.4;
  color: #A8E6CF;
  transition: color 0.4s ease, font-weight 0.4s ease;
}

.feature-box3 li::marker {
  color: #A8E6CF; /*#C0C0C0 silver*/
  font-size: 1.2em;
}

.feature-box3 li.active {
  color: #b14fd3;
  font-weight: bold;
}

.feature-box3 li.active::marker {
  color: #b14fd3;
}